<% if @category.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @category.photo.key, height: 300, crop: :fill %>');">
  <% else %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as1.ftcdn.net/v2/jpg/09/39/40/88/1000_F_939408821_vXww1FNovj4iUna4vtcr1yjkAMyJELN1.jpg);">
  <% end %>
    <div class="container">
    <h1><%= @category.name %></h1>
  </div>
</div>

<div class="categories_container">
  <h1>Recipes:</h1>
  <%= link_to "Add a recipe", new_category_bookmark_path(@category), class: "create_button" %>
</div>

<div class="recipe-container d-flex justify-content-between align-items-center py-3">
  <% @category.bookmarks.each do |bookmark|%>
    <div class="card-recipe">
      <%= cl_image_tag bookmark.recipe.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-recipe-infos">
        <div class="middle_text">
          <h2><%= bookmark.recipe.name %>: </h2>
          <p><%= bookmark.recipe.description %></p>
        </div>
       <h2><%= bookmark.recipe.rating %></h2>
       <p class="comment">"<%= bookmark.comment %>"</p>
       <%= button_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?", class: "delete_button" } %>
     </div>
  </div>
  <% end %>
</div>

<%= button_to "Delete category", category_path(@category), method: :delete, class: "create_button"%>
